In [1]:
import pandas as pd
import numpy as np
from scipy import stats

import warnings
warnings.simplefilter(action="ignore", category=FutureWarning)

In [2]:
df = pd.read_csv("../summary_data/original/all_tools_TRB_diversity.csv")
df

,Sample,shannon_index_tool,clonotype_count_tool,tool,shannon_index_TCR,clonotype_count_TCR,repertoire_type,tissue,tissue_type,SDI_absolute_error,class,clonality_TCR,clonality_tool,clonality_absolute_error
0,SRR5233637,3.061608,24,MIXCR,7.712411,27947,high_SDI,small_intestine,T_cell_poor,4.650803,T_cell_poor_high_SDI,0.246692,0.036640,0.210052
1,SRR5233637,4.562193,115,IMREP,7.712411,27947,high_SDI,small_intestine,T_cell_poor,3.150218,T_cell_poor_high_SDI,0.246692,0.038512,0.208180
2,SRR5233637,4.309543,118,TRUST4,7.712411,27947,high_SDI,small_intestine,T_cell_poor,3.402869,T_cell_poor_high_SDI,0.246692,0.096662,0.150031
3,SRR5233637,1.342190,144,CATT,7.712411,27947,high_SDI,small_intestine,T_cell_poor,6.370222,T_cell_poor_high_SDI,0.246692,0.729932,0.483239
4,SRR5233639,5.478183,353,MIXCR,10.059157,202869,high_SDI,lymph_node,T_cell_rich,4.580975,T_cell_rich_high_SDI,0.176850,0.066187,0.110662
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,TCGA-CZ-5985,2.174110,22,TRUST4,5.638249,1415,high_SDI,kidney,T_cell_poor,3.464139,T_cell_poor_high_SDI,0.222834,0.296642,0.073808
68,TCGA-CZ-5985,1.160764,25,CATT,5.638249,1415,high_SDI,kidney,T_cell_poor,4.477485,T_cell_poor_high_SDI,0.222834,0.639388,0.416554
69,sample07,0.000000,1,IMREP,4.680209,3548,high_SDI,melanoma,T_cell_poor,4.680209,T_cell_poor_high_SDI,0.427437,NaN,NaN
70,sample07,0.970585,4,TRUST4,4.680209,3548,high_SDI,melanoma,T_cell_poor,3.709624,T_cell_poor_high_SDI,0.427437,0.299871,0.127566
71,sample07,1.163788,37,CATT,4.680209,3548,high_SDI,melanoma,T_cell_poor,3.516421,T_cell_poor_high_SDI,0.427437,0.677703,0.250266

In [3]:
mean_class_absolute_error = df.groupby("class")["SDI_absolute_error"].agg(["mean", "std"])
display(mean_class_absolute_error)
tools = ['MIXCR','IMREP','TRUST4','CATT']              
for tool in tools:  
    print(tool)
    df_tool = df.loc[df['tool'] == tool]
    mean_class_absolute_error = df_tool.groupby("class")["SDI_absolute_error"].agg(["mean", "std"]) 
    display(mean_class_absolute_error)

                          mean       std
class
T_cell_poor_high_SDI  4.308353  1.242648
T_cell_poor_low_SDI   2.234020  0.498431
T_cell_rich_high_SDI  4.396753  1.161535
T_cell_rich_low_SDI   0.566670  0.501352

MIXCR

                          mean       std
class
T_cell_poor_high_SDI  4.794637  0.697812
T_cell_poor_low_SDI   2.223459       NaN
T_cell_rich_high_SDI  5.108813  0.527169
T_cell_rich_low_SDI   0.141408  0.117840

IMREP

                          mean       std
class
T_cell_poor_high_SDI  4.126726  1.067636
T_cell_poor_low_SDI   2.642735       NaN
T_cell_rich_high_SDI  3.559607  1.110525
T_cell_rich_low_SDI   0.814811  0.679551

TRUST4

                          mean       std
class
T_cell_poor_high_SDI  3.566085  1.195012
T_cell_poor_low_SDI   2.534382       NaN
T_cell_rich_high_SDI  3.490319  0.731160
T_cell_rich_low_SDI   0.653830  0.564431

CATT

                          mean       std
class
T_cell_poor_high_SDI  4.908060  1.398994
T_cell_poor_low_SDI   1.535505       NaN
T_cell_rich_high_SDI  5.428275  0.856954
T_cell_rich_low_SDI   0.656631  0.448354

## T_cell_rich_low_SDI samples

In [4]:
T_cell_rich_low_SDI = df.loc[df['class'] == 'T_cell_rich_low_SDI']

In [5]:
df_group1 = T_cell_rich_low_SDI[T_cell_rich_low_SDI['tool'] == 'MIXCR']
df_group2 = T_cell_rich_low_SDI[T_cell_rich_low_SDI['tool'] == 'IMREP']

stats.ttest_ind(df_group1['SDI_absolute_error'],df_group2['SDI_absolute_error'])

Ttest_indResult(statistic=-1.691141670370487, pvalue=0.1660704366684594)

In [6]:
df_group1 = T_cell_rich_low_SDI[T_cell_rich_low_SDI['tool'] == 'MIXCR']
df_group2 = T_cell_rich_low_SDI[T_cell_rich_low_SDI['tool'] == 'TRUST4']

stats.ttest_ind(df_group1['SDI_absolute_error'],df_group2['SDI_absolute_error'])

Ttest_indResult(statistic=-1.5392603248155978, pvalue=0.198575661653657)

In [7]:
df_group1 = T_cell_rich_low_SDI[T_cell_rich_low_SDI['tool'] == 'MIXCR']
df_group2 = T_cell_rich_low_SDI[T_cell_rich_low_SDI['tool'] == 'CATT']

stats.ttest_ind(df_group1['SDI_absolute_error'],df_group2['SDI_absolute_error'])

Ttest_indResult(statistic=-1.9249943575504038, pvalue=0.12654199826909093)

In [8]:
df_group1 = T_cell_rich_low_SDI[T_cell_rich_low_SDI['tool'] == 'IMREP']
df_group2 = T_cell_rich_low_SDI[T_cell_rich_low_SDI['tool'] == 'TRUST4']

stats.ttest_ind(df_group1['SDI_absolute_error'],df_group2['SDI_absolute_error'])

Ttest_indResult(statistic=0.31563547997991515, pvalue=0.7680615846448555)

In [9]:
df_group1 = T_cell_rich_low_SDI[T_cell_rich_low_SDI['tool'] == 'IMREP']
df_group2 = T_cell_rich_low_SDI[T_cell_rich_low_SDI['tool'] == 'CATT']

stats.ttest_ind(df_group1['SDI_absolute_error'],df_group2['SDI_absolute_error'])

Ttest_indResult(statistic=0.3365262124609058, pvalue=0.7533884549790767)

In [10]:
df_group1 = T_cell_rich_low_SDI[T_cell_rich_low_SDI['tool'] == 'TRUST4']
df_group2 = T_cell_rich_low_SDI[T_cell_rich_low_SDI['tool'] == 'CATT']

stats.ttest_ind(df_group1['SDI_absolute_error'],df_group2['SDI_absolute_error'])

Ttest_indResult(statistic=-0.006730411449767018, pvalue=0.9949522390491594)

## T_cell_rich_high_SDI samples

In [11]:
T_cell_rich_high_SDI = df.loc[df['class'] == 'T_cell_rich_high_SDI']

In [12]:
df_group1 = T_cell_rich_high_SDI[T_cell_rich_high_SDI['tool'] == 'MIXCR']
df_group2 = T_cell_rich_high_SDI[T_cell_rich_high_SDI['tool'] == 'IMREP']

stats.ttest_ind(df_group1['SDI_absolute_error'],df_group2['SDI_absolute_error'])

Ttest_indResult(statistic=2.1827925020584527, pvalue=0.09444929462736283)

In [13]:
df_group1 = T_cell_rich_high_SDI[T_cell_rich_high_SDI['tool'] == 'MIXCR']
df_group2 = T_cell_rich_high_SDI[T_cell_rich_high_SDI['tool'] == 'TRUST4']

stats.ttest_ind(df_group1['SDI_absolute_error'],df_group2['SDI_absolute_error'])

Ttest_indResult(statistic=3.1099936756988913, pvalue=0.03587211285946198)

In [14]:
df_group1 = T_cell_rich_high_SDI[T_cell_rich_high_SDI['tool'] == 'MIXCR']
df_group2 = T_cell_rich_high_SDI[T_cell_rich_high_SDI['tool'] == 'CATT']

stats.ttest_ind(df_group1['SDI_absolute_error'],df_group2['SDI_absolute_error'])

Ttest_indResult(statistic=-0.5499595674301192, pvalue=0.6116118536059099)

In [15]:
df_group1 = T_cell_rich_high_SDI[T_cell_rich_high_SDI['tool'] == 'IMREP']
df_group2 = T_cell_rich_high_SDI[T_cell_rich_high_SDI['tool'] == 'TRUST4']

stats.ttest_ind(df_group1['SDI_absolute_error'],df_group2['SDI_absolute_error'])

Ttest_indResult(statistic=0.09026037523242246, pvalue=0.9324193711189177)

In [16]:
df_group1 = T_cell_rich_high_SDI[T_cell_rich_high_SDI['tool'] == 'IMREP']
df_group2 = T_cell_rich_high_SDI[T_cell_rich_high_SDI['tool'] == 'CATT']

stats.ttest_ind(df_group1['SDI_absolute_error'],df_group2['SDI_absolute_error'])

Ttest_indResult(statistic=-2.3073861310675876, pvalue=0.08226821811920852)

In [17]:
df_group1 = T_cell_rich_high_SDI[T_cell_rich_high_SDI['tool'] == 'TRUST4']
df_group2 = T_cell_rich_high_SDI[T_cell_rich_high_SDI['tool'] == 'CATT']

stats.ttest_ind(df_group1['SDI_absolute_error'],df_group2['SDI_absolute_error'])

Ttest_indResult(statistic=-2.979749639589245, pvalue=0.04074896842876157)

## T_cell_poor_high_SDI samples

In [18]:
T_cell_poor_high_SDI = df.loc[df['class'] == 'T_cell_poor_high_SDI']

In [19]:
df_group1 = T_cell_poor_high_SDI[T_cell_poor_high_SDI['tool'] == 'MIXCR']
df_group2 = T_cell_poor_high_SDI[T_cell_poor_high_SDI['tool'] == 'IMREP']

stats.ttest_ind(df_group1['SDI_absolute_error'],df_group2['SDI_absolute_error'])

Ttest_indResult(statistic=1.5546672568752988, pvalue=0.13743172441028909)

In [20]:
df_group1 = T_cell_poor_high_SDI[T_cell_poor_high_SDI['tool'] == 'MIXCR']
df_group2 = T_cell_poor_high_SDI[T_cell_poor_high_SDI['tool'] == 'TRUST4']

stats.ttest_ind(df_group1['SDI_absolute_error'],df_group2['SDI_absolute_error'])

Ttest_indResult(statistic=2.6117912643789705, pvalue=0.017655939729949995)

In [21]:
df_group1 = T_cell_poor_high_SDI[T_cell_poor_high_SDI['tool'] == 'MIXCR']
df_group2 = T_cell_poor_high_SDI[T_cell_poor_high_SDI['tool'] == 'CATT']

stats.ttest_ind(df_group1['SDI_absolute_error'],df_group2['SDI_absolute_error'])

Ttest_indResult(statistic=-0.21112158505446507, pvalue=0.8351641757216771)

In [22]:
df_group1 = T_cell_poor_high_SDI[T_cell_poor_high_SDI['tool'] == 'IMREP']
df_group2 = T_cell_poor_high_SDI[T_cell_poor_high_SDI['tool'] == 'TRUST4']

stats.ttest_ind(df_group1['SDI_absolute_error'],df_group2['SDI_absolute_error'])

Ttest_indResult(statistic=1.211954474818161, pvalue=0.2383860782684187)

In [23]:
df_group1 = T_cell_poor_high_SDI[T_cell_poor_high_SDI['tool'] == 'IMREP']
df_group2 = T_cell_poor_high_SDI[T_cell_poor_high_SDI['tool'] == 'CATT']

stats.ttest_ind(df_group1['SDI_absolute_error'],df_group2['SDI_absolute_error'])

Ttest_indResult(statistic=-1.5379951086849906, pvalue=0.1383094354301306)

In [24]:
df_group1 = T_cell_poor_high_SDI[T_cell_poor_high_SDI['tool'] == 'TRUST4']
df_group2 = T_cell_poor_high_SDI[T_cell_poor_high_SDI['tool'] == 'CATT']

stats.ttest_ind(df_group1['SDI_absolute_error'],df_group2['SDI_absolute_error'])

Ttest_indResult(statistic=-2.5266237322921463, pvalue=0.019214523935800247)