In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../summary_data/original/all_tools_TRB.csv")
df = df.loc[~(df['frequency_TCR'] == 0)]
df

,Sample,CDR3,nReads_TCR,nReads_CATT,nReads_MIXCR,nReads_IMREP,nReads_TRUST4,tissue,tissue_type,total_reads_TCR,...,total_reads_IMREP,total_reads_TRUST4,total_reads_CATT,frequency_TCR,frequency_MIXCR,frequency_IMREP,frequency_TRUST4,frequency_CATT,repertoire_type,class
0,SRR5233637,CASSPRVTSGTYEQYF,32.0,0.0,0.0,0.0,0.0,small_intestine,T_cell_poor,3047629.0,...,315.0,544.0,5616.0,0.000010,0.0,0.0,0.0,0.0,high_SDI,T_cell_poor_high_SDI
1,SRR5233637,CASSYSDRGGQPQHF,13.0,0.0,0.0,0.0,0.0,small_intestine,T_cell_poor,3047629.0,...,315.0,544.0,5616.0,0.000004,0.0,0.0,0.0,0.0,high_SDI,T_cell_poor_high_SDI
2,SRR5233637,CASKVALGGETQYF,25.0,0.0,0.0,0.0,0.0,small_intestine,T_cell_poor,3047629.0,...,315.0,544.0,5616.0,0.000008,0.0,0.0,0.0,0.0,high_SDI,T_cell_poor_high_SDI
3,SRR5233637,CASRAPGTGTLGSPLHF,66.0,0.0,0.0,0.0,0.0,small_intestine,T_cell_poor,3047629.0,...,315.0,544.0,5616.0,0.000022,0.0,0.0,0.0,0.0,high_SDI,T_cell_poor_high_SDI
4,SRR5233637,CASSSGQGGPSTEAFF,52.0,0.0,0.0,0.0,0.0,small_intestine,T_cell_poor,3047629.0,...,315.0,544.0,5616.0,0.000017,0.0,0.0,0.0,0.0,high_SDI,T_cell_poor_high_SDI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378870,sample14,CASSPRVAIVYNEQFF,4.0,0.0,0.0,0.0,0.0,melanoma,T_cell_poor,749686.0,...,152.0,351.0,751.0,0.000005,0.0,0.0,0.0,0.0,high_SDI,T_cell_poor_high_SDI
378871,sample14,CASSYRQSGELFF,77.0,0.0,0.0,0.0,0.0,melanoma,T_cell_poor,749686.0,...,152.0,351.0,751.0,0.000103,0.0,0.0,0.0,0.0,high_SDI,T_cell_poor_high_SDI
378872,sample14,CASSQGGSGGPGELFF,48.0,0.0,0.0,0.0,0.0,melanoma,T_cell_poor,749686.0,...,152.0,351.0,751.0,0.000064,0.0,0.0,0.0,0.0,high_SDI,T_cell_poor_high_SDI
378873,sample14,CASSVSSGGFREVEQYF,15.0,0.0,0.0,0.0,0.0,melanoma,T_cell_poor,749686.0,...,152.0,351.0,751.0,0.000020,0.0,0.0,0.0,0.0,high_SDI,T_cell_poor_high_SDI
378874,sample14,CAWSVRPGGDTEAFF,10.0,0.0,0.0,0.0,0.0,melanoma,T_cell_poor,749686.0,...,152.0,351.0,751.0,0.000013,0.0,0.0,0.0,0.0,high_SDI,T_cell_poor_high_SDI

In [3]:
# Select 10 clonotypes with the highest frequency for each sample 
df_top10 = pd.DataFrame()

samples = ['sample01','sample02','sample03','sample04','sample05','sample06','sample07','sample08',
           'sample09','sample10','sample11','sample12','sample13','sample14','TCGA-CZ-4862',
           'TCGA-CZ-5463','TCGA-CZ-5985','SRR5233637','SRR5233639']

for sample in samples: 
    df_sample = df.loc[df['Sample'] == sample]
    df_temp_top = df_sample.nlargest(10,'frequency_TCR')
    
    df_top10 = pd.concat([df_top10, df_temp_top], ignore_index=True, sort=False)

In [4]:
TCR_abundance = df_top10.groupby(['Sample','class','tissue_type','repertoire_type']).agg({'frequency_TCR':'sum'}).reset_index().rename(columns={'frequency_TCR':"clonotype_abundance"})
TCR_abundance.loc[:,'clonotype_abundance'] = TCR_abundance['clonotype_abundance']*100
TCR_abundance

,Sample,class,tissue_type,repertoire_type,clonotype_abundance
0,SRR5233637,T_cell_poor_high_SDI,T_cell_poor,high_SDI,16.739931
1,SRR5233639,T_cell_rich_high_SDI,T_cell_rich,high_SDI,4.860078
2,TCGA-CZ-4862,T_cell_poor_high_SDI,T_cell_poor,high_SDI,14.853432
3,TCGA-CZ-5463,T_cell_poor_high_SDI,T_cell_poor,high_SDI,71.464020
4,TCGA-CZ-5985,T_cell_poor_high_SDI,T_cell_poor,high_SDI,31.566395
5,sample01,T_cell_rich_low_SDI,T_cell_rich,low_SDI,90.675337
6,sample02,T_cell_rich_low_SDI,T_cell_rich,low_SDI,91.422256
7,sample03,T_cell_rich_low_SDI,T_cell_rich,low_SDI,92.743330
8,sample04,T_cell_rich_high_SDI,T_cell_rich,high_SDI,4.857844
9,sample05,T_cell_rich_high_SDI,T_cell_rich,high_SDI,10.667669
10,sample06,T_cell_poor_high_SDI,T_cell_poor,high_SDI,6.086825
11,sample07,T_cell_poor_high_SDI,T_cell_poor,high_SDI,52.523555
12,sample08,T_cell_poor_high_SDI,T_cell_poor,high_SDI,9.342037
13,sample09,T_cell_poor_high_SDI,T_cell_poor,high_SDI,19.151354
14,sample10,T_cell_poor_high_SDI,T_cell_poor,high_SDI,26.168310
15,sample11,T_cell_poor_high_SDI,T_cell_poor,high_SDI,10.760370
16,sample12,T_cell_poor_high_SDI,T_cell_poor,high_SDI,25.224705
17,sample13,T_cell_poor_low_SDI,T_cell_poor,low_SDI,87.432453
18,sample14,T_cell_poor_high_SDI,T_cell_poor,high_SDI,17.029796

In [5]:
mean = TCR_abundance.groupby(["class"])["clonotype_abundance"].agg(["mean", "std"]) 
display(mean)

                           mean        std
class
T_cell_poor_high_SDI  25.075894  19.153624
T_cell_poor_low_SDI   87.432453        NaN
T_cell_rich_high_SDI   6.795197   3.353660
T_cell_rich_low_SDI   91.613641   1.047196

In [6]:
mean1 = TCR_abundance.groupby(["tissue_type"])["clonotype_abundance"].agg(["mean", "std"]) 
display(mean1)

                  mean        std
tissue_type
T_cell_poor  29.872553  25.206996
T_cell_rich  49.204419  46.510085

In [7]:
mean2 = TCR_abundance.groupby(["repertoire_type"])["clonotype_abundance"].agg(["mean", "std"]) 
display(mean2)

                      mean        std
repertoire_type
high_SDI         21.419755  18.631789
low_SDI          90.568344   2.258686